<h1>Flickr Photo Viewer</h1>


<%= form_tag({ controller: 'static_pages', action: 'home' }, method: 'get') do %>
  <%= text_field_tag 'user_id', nil, placeholder: 'Enter Flickr User ID' %>
  <%= submit_tag 'Show Photos' %>
<% end %>

<% if @photos.present? %>
  <ul>
    <% @photos.each do |photo| %>
      <li>
        <strong>Title:</strong> <%= photo[:title] %><br>
        <strong>ID:</strong> <%= photo[:id] %><br>
        <strong>URL:</strong> <%= photo[:urls] %>
        <img src="<%= photo[:urls] %>">
        <img src="<%= photo[:urls] %>" alt="<%= photo[:title] %>">
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No recent photos found.</p>
<% end %>