<h1>Flickr Photo Viewer</h1>

<%= form_tag(root_path, method: :get) do %>
  <%= label_tag(:user_id, 'Flickr User ID:') %>
  <%= text_field_tag(:user_id) %>
  <%= submit_tag('Show Photos') %>
<% end %>

<% if @photos.present? %>
  <h2>Photos from Flickr User</h2>
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag(photo.small_square_url, alt: 'Flickr Photo') %></li>
    <% end %>
  </ul>
<% end %>
